.report-wrapper .report-item {
    padding: 5px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.report-wrapper .report-item:last-child {
    border-bottom: none;
}

.report-item span {
    color: rgb(11, 229, 25);
}

.report-item span:not(.loading-report) {
    margin: 0 5px;
}

.report-item span.date {
    color: #000;
    position: absolute;
    bottom: 4px;
    left: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px;
    font-size: 12px;
    z-index: 1;
    background: #e1e1e1;
}

.report-item-controls {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 5px;
    top: 5px;
}

.report-item span.delete {
    background-color: #dc3545;
    color: #ffffff;
    border-radius: 3px;
    padding: 2px 4px;
}

.report-item span.edit {
    background-color: #28a745;
    color: #ffffff;
    border-radius: 3px;
    padding: 2px 4px;
}

.report-item span.cancel {
    background-color: #ffc107;
    color: #000000;
    border-radius: 3px;
    padding: 2px 4px;
}

.report-wrapper::-webkit-scrollbar {
    width: 15px;
}

/* Track */
.report-wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.report-wrapper::-webkit-scrollbar-thumb {
    background: rgb(11, 229, 25);
    border-radius: 10px;
}

/* Handle on hover */
.report-wrapper::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 192, 13);
}

.row-container {
    max-height: 100px;
    overflow: hidden;
}

.row-container p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* Limit the content to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
    .report-item-controls {
        position: initial;
        justify-content: start;
        margin-bottom: 5px;
    }

    .report-item-controls button:nth-of-type(1) {
        margin-left: 0;
    }

    .row-container p {
        -webkit-line-clamp: 3
    }
}

@media only screen and (max-width: 480px) {
    .reports .reports-header {
        display: block;
    }

    .reports-header .filter-reports {
        display: block;
    }
}