#sidebar {
    background-color: #282A35;
    height: 100vh;
    list-style: none;
}

#sidebar a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 12px 15px;
    display: block;
    border-bottom: 1px solid #fff;
}

#sidebar a.active {
    background-color: #2e4c1e;
    color: #fff;
}