body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body #webpack-dev-server-client-overlay {
  display: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ////////////////////////////////// */
h2 {
  margin: 0;
}

#main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.header {
  padding: 15px;
  border-bottom: 2px solid #282A35;
}

.header img {
  width: 220px;
}

#sidebar {
  background-color: #282A35;
  height: calc(100vh - 70px);

}

#sidebar {
  list-style: none;

}

#sidebar a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  padding: 12px 15px;
  display: block;
  border-bottom: 1px solid #fff;
}

#sidebar a.active {
  background-color: #2e4c1e;
  color: #fff;
}



.main-content {
  padding-left: 12px;
}

.main-content {
  padding: 0;
}

.main-content {
  padding: 0 12px;
}

.main-content ul::-webkit-scrollbar {
  display: none;
}

.main-content ul {
  padding: 0;
  height: 422px;
  overflow-y: scroll;

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.main-content ul li {
  list-style: none;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  padding: 12px 0;
}


.reports-header {
  display: flex;
  justify-content: space-between;
}

.reports-header label {
  margin-right: 8px;
}

.report-wrapper {
  padding: 5px;
  border: 1px solid #ccc;
}

.report-wrapper .report-item {
  padding: 5px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.report-wrapper .report-item:last-child {
  border-bottom: none;
}

.report-item span {
  color: rgb(11, 229, 25);
}

.report-item span:not(.loading-report) {
  margin: 0 5px;
}

.report-item span.date {
  color: #000;
  position: absolute;
  bottom: 4px;
  left: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 2px;
  font-size: 12px;
  z-index: 1;
  background: #e1e1e1;
}

.report-item-controls {
  display: flex;
  width: 180px;
  justify-content: flex-end;
  position: absolute;
  right: 5px;
  top: 5px;
}

.report-item span.delete {
  background-color: #dc3545;
  color: #ffffff;
  border-radius: 3px;
  padding: 2px 4px;
}

.report-item span.edit {
  background-color: #28a745;
  color: #ffffff;
  border-radius: 3px;
  padding: 2px 4px;
}

.report-item span.cancel {
  background-color: #ffc107;
  color: #000000;
  border-radius: 3px;
  padding: 2px 4px;
}


/* width */
.report-wrapper::-webkit-scrollbar {
  width: 15px;
}

/* Track */
.report-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.report-wrapper::-webkit-scrollbar-thumb {
  background: rgb(11, 229, 25);
  border-radius: 10px;
}

/* Handle on hover */
.report-wrapper::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 192, 13);
}

.add-record {
  margin-top: 15px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.add-record textarea {
  margin-top: 12px;
}

.add-record textarea,
.add-record input {
  padding: 5px;
}

.add-record-controls {
  margin-top: 12px;
}

.add-record-controls select {
  margin-left: 18px;
  width: 200px;
}

.loading-report {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  width: 200px;
}

.editable-textArea {
  width: 100%;
  resize: none;
  box-sizing: border-box;
}

.edit-controls input,
.edit-controls textarea {
  padding: 5px;
}

.custom-tooltip {
  background-color: #fff;
  padding: 10px;
}

.custom-tooltip p {
  margin: 2px;
}

.footer {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  min-height: 100px;
}

.error-boundary {
  background-color: #ffcccc;
  border: 1px solid #ff6666;
  padding: 40px;
  border-radius: 4px;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-boundary p {
  margin: 0;
}

.error-boundary pre {
  color: #ff3333;
  font-weight: bold;
  font-size: 18px;

}